@model IEnumerable<AspCore44.Models.Employee>

@{
    ViewData["Title"] = "GetEmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee List</h1>

<div class="Row">


    <span class="col-md-4">
        Name
    </span>


    <span class="col-md-4">
        Salary
    </span>



</div>


@foreach (var item in Model)
{
    @if (@item.IsPermanent)
    {


        <div class="Row">


            <span class="col-md-4">
                <mark class="alert-danger">
                    @item.Name
                </mark>
            </span>


            <span class="col-md-4">
                <mark class="alert-danger">

                    @item.Salary
                </mark>
            </span>
        </div>


    }
    else
    {
        <div class="Row">


            <span class="col-md-4">
                @item.Name
            </span>


            <span class="col-md-4">
                @item.Salary
            </span>
        </div>

    }




}